// VARIABLES
$shadow: rgba(0, 0, 0, 0.486);
$blackColor: rgba(5, 5, 7, 0.089);
$lightColor: rgba(204, 204, 204, 0);
$greyDarkColor: rgb(20, 20, 20);
$greyColor: rgb(182, 182, 182);
$greyLightColor: rgb(190, 190, 190);
$blueColor: #0e6f9f;
$blueDarkColor: #010411;
$redColor: rgb(214, 6, 6);

// FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
