@import "../../variables//Variables.scss";

.searchbar-container {
  padding: 10px;

  .searchbar {
    display: flex;
    margin: 0 auto;
    align-items: center;

    input {
      border: none;
      padding: 0.7em;
      color: white;
      background-color: transparent;
      outline: none;
      border-bottom: 1px solid white;
    }

    button {
      cursor: pointer;
      background-color: transparent;
      padding: 0.3em;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 22px;
      transition: ease 1s;
    }

    button:hover {
      transform: scale(1.3);
    }
  }
}

@media (max-width: 576px) {
  input {
    width: 60%;
  }

  .searchbar-container .searchbar button {
    font-size: 18px;
  }
}
