@import "../../variables/Variables.scss";

nav {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-img {
  width: 100px;
}

.content-favorite {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

nav .favorites {
  font-size: 26px;
  color: $redColor;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-home {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 576px) {
  .navbar-home p,
  .content-favorite p {
    display: none;
  }
}
